Fetch Data From API

In [3]:
import requests
import pandas as pd
# Fetch users
users_data= requests.get("https://jsonplaceholder.typicode.com/users").json()
users_df= pd.DataFrame(users_data)

In [4]:
users_df.head()

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."

In [5]:
users_df.shape

(10, 8)

In [6]:
# Fetch posts
posts_data= requests.get("https://jsonplaceholder.typicode.com/posts").json()
posts_df= pd.DataFrame(posts_data)

In [7]:
posts_df.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [8]:
posts_df.shape

(100, 4)

Clean Users_df Data

In [9]:
users_df.columns

Index(['id', 'name', 'username', 'email', 'address', 'phone', 'website',
       'company'],
      dtype='object')

In [10]:
# Expand 'address' column
address_df = users_df['address'].apply(pd.Series)

In [11]:
address_df.head()

,street,suite,city,zipcode,geo
0,Kulas Light,Apt. 556,Gwenborough,92998-3874,"{'lat': '-37.3159', 'lng': '81.1496'}"
1,Victor Plains,Suite 879,Wisokyburgh,90566-7771,"{'lat': '-43.9509', 'lng': '-34.4618'}"
2,Douglas Extension,Suite 847,McKenziehaven,59590-4157,"{'lat': '-68.6102', 'lng': '-47.0653'}"
3,Hoeger Mall,Apt. 692,South Elvis,53919-4257,"{'lat': '29.4572', 'lng': '-164.2990'}"
4,Skiles Walks,Suite 351,Roscoeview,33263,"{'lat': '-31.8129', 'lng': '62.5342'}"

In [12]:
geo_df = address_df['geo'].apply(pd.Series)

In [13]:
geo_df.head()

        lat        lng
0  -37.3159    81.1496
1  -43.9509   -34.4618
2  -68.6102   -47.0653
3   29.4572  -164.2990
4  -31.8129    62.5342

In [14]:
# Combine geo with address
address_df = address_df.drop('geo', axis=1).join(geo_df, rsuffix='_geo')

In [15]:
address_df.head()

,street,suite,city,zipcode,lat,lng
0,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342

In [16]:
# Rename columns using address(col) as prefix to avoid conflicts
address_df.columns = [f'address_{col}' for col in address_df.columns]

In [17]:
address_df.head()

,address_street,address_suite,address_city,address_zipcode,address_lat,address_lng
0,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342

In [18]:
# Expand 'company' column
company_df = users_df['company'].apply(pd.Series)

In [19]:
company_df.head()

,name,catchPhrase,bs
0,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems

In [20]:
company_df.columns = [f'company_{col}' for col in company_df.columns]

In [21]:
company_df.head()

,company_name,company_catchPhrase,company_bs
0,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems

In [22]:
# Drop original nested columns and concat the expanded ones
users_df_cleaned = users_df.drop(['address', 'company'], axis=1).join([address_df, company_df])

In [23]:
users_df_cleaned.head()

,id,name,username,email,phone,website,address_street,address_suite,address_city,address_zipcode,address_lat,address_lng,company_name,company_catchPhrase,company_bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems

Connect to PostgreSQL database running in docker

In [24]:
from sqlalchemy import create_engine, text
import pandas as pd

# Create the engine
pg_engine = create_engine('postgresql://myuser:mypassword@localhost:5432/mydb')

# try query to check connection
try:
    with pg_engine.connect() as connection:
        result = connection.execute(text("SELECT 1"))
        for row in result:
            print("✅ PostgreSQL connection successful! Result:", row[0])
except Exception as e:
    print("❌ Connection failed:", e)

✅ PostgreSQL connection successful! Result: 1

Load API data to PostgreSQL

In [25]:
users_df_cleaned.to_sql('staging_users', pg_engine, if_exists='replace', index=False)

10

In [26]:
posts_df.to_sql('staging_posts', pg_engine, if_exists='replace', index=False)

100

In [27]:
posts_df.columns

Index(['userId', 'id', 'title', 'body'], dtype='object')

In [28]:
users_df_cleaned.shape

(10, 15)

In [29]:
users_df_cleaned.columns

Index(['id', 'name', 'username', 'email', 'phone', 'website', 'address_street',
       'address_suite', 'address_city', 'address_zipcode', 'address_lat',
       'address_lng', 'company_name', 'company_catchPhrase', 'company_bs'],
      dtype='object')

In [30]:
 # Use the engine to create a connection context
with pg_engine.connect() as connection:
    users_name_df = pd.read_sql(text("SELECT name FROM staging_users"), con=connection)
    print(users_name_df.head())

               name
0     Leanne Graham
1      Ervin Howell
2  Clementine Bauch
3  Patricia Lebsack
4  Chelsey Dietrich

In [31]:
with pg_engine.connect() as connection:
    transformed_df = pd.read_sql(text("""
    select
    sp.id as postID,
    sp.title as postTitle,
    sp.body as postBody,
    su."name" as userName,
    su.email as userEmail
    from 
    staging_posts sp 
    join 
    staging_users su 
    on
    sp.id =su.id
    """),con=connection)

In [32]:
transformed_df.head()

,postid,posttitle,postbody,username,useremail
0,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...,Leanne Graham,Sincere@april.biz
1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...,Ervin Howell,Shanna@melissa.tv
2,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...,Clementine Bauch,Nathan@yesenia.net
3,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...,Patricia Lebsack,Julianne.OConner@kory.org
4,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...,Chelsey Dietrich,Lucio_Hettinger@annie.ca

In [33]:
transformed_df.columns = ['postID', 'postTitle', 'postBody', 'userName', 'userEmail']

In [34]:
transformed_df.head()

,postID,postTitle,postBody,userName,userEmail
0,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...,Leanne Graham,Sincere@april.biz
1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...,Ervin Howell,Shanna@melissa.tv
2,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...,Clementine Bauch,Nathan@yesenia.net
3,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...,Patricia Lebsack,Julianne.OConner@kory.org
4,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...,Chelsey Dietrich,Lucio_Hettinger@annie.ca

In [35]:
transformed_df.columns

Index(['postID', 'postTitle', 'postBody', 'userName', 'userEmail'], dtype='object')

In [36]:
transformed_df.shape

(10, 5)

In [37]:
# pip install pyodbc

In [38]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'PostgreSQL ODBC Driver(ANSI)', 'PostgreSQL ODBC Driver(UNICODE)', 'ODBC Driver 18 for SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [39]:
from sqlalchemy import create_engine,text

engine = create_engine(
    'mssql+pyodbc://sa:MyP%40ssword123@localhost:1433/master?driver=ODBC+Driver+18+for+SQL+Server&Encrypt=no'
)

In [40]:
# Test the connection
with engine.connect() as conn:
    result = conn.execute(text("SELECT @@VERSION"))
    print(result.fetchone())

('Microsoft SQL Server 2022 (RTM-CU18) (KB5050771) - 16.0.4185.3 (X64) \n\tFeb 28 2025 18:24:49 \n\tCopyright (C) 2022 Microsoft Corporation\n\tDeveloper Edition (64-bit) on Linux (Ubuntu 22.04.5 LTS) <X64>',)

Create table

In [45]:
from sqlalchemy import inspect

def table_exists(conn, table_name):
    # Create the inspector object from the connection
    inspector = inspect(conn)
    # Call get_table_names on the inspector object
    table_names= inspector.get_table_names()
    print (table_names)
    return table_name in table_names  
    # returns true if table prsent else false
with engine.connect() as conn:
    # if table_exist false then if not will execute
    if not table_exists(conn, "FactUserPosts"):
        conn.execute(text(f"""
            CREATE TABLE dbo.FactUserPosts (
                postID INT,
                postTitle NVARCHAR(255),
                postBody NVARCHAR(MAX),
                userName NVARCHAR(255),
                userEmail NVARCHAR(255)
            );
        """))
        print(f"Table  'FactUserPosts' created.")
    else:
        print(f"Table ' FactUserPosts' already exists.")

['FactUserPosts', 'MSreplication_options', 'spt_fallback_db', 'spt_fallback_dev', 'spt_fallback_usg', 'spt_monitor']
Table ' FactUserPosts' already exists.

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT * FROM master.INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'FactUserPosts'
    """))
    print(result.fetchall())

Inseart Transformed Data

In [ ]:
with engine.connect() as sql_conn:
    for index, row in transformed_df.iterrows():
        try:
            insert_query = text("""
            INSERT INTO dbo.FactUserPosts (postID, postTitle, postBody, userName, userEmail)
            VALUES (:postID, :postTitle, :postBody, :userName, :userEmail)
            """)

            params = {
                'postID': row['postID'],
                'postTitle': row['postTitle'],
                'postBody': row['postBody'],
                'userName': row['userName'],
                'userEmail': row['userEmail']
            }

            # Execute the query
            sql_conn.execute(insert_query, params)
        
        except Exception as e:
            print(f"Error inserting row {index}: {e}")
    
    # Commit the transaction
    sql_conn.commit()

In [ ]:
# SQL query to fetch the data
query = """
SELECT TOP 10 * 
FROM dbo.FactUserPosts
"""

# Fetch the data into pandas DataFrame
with engine.connect() as conn:
    result_df = pd.read_sql(text(query), conn)

In [ ]:
result_df.head(10)